body {
    -webkit-font-smoothing: antialiased;
    -mos-osx-font-smoothing: grayscale;
}

html, body {
    overflow-x: hidden;
}

.w-lightbox-control {
    position: absolute;
    top: 0;
    width: 4em;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.w-lightbox-right {
    background-image: url(https://cdn.prod.website-files.com/5c1bb997cb1dd637bfe6c899/5c354ee0dec4805994cdf97b_w-lightbox-right.svg);
}

.w-lightbox-left .w-slider-arrow-left {
    background-image: url(https://cdn.prod.website-files.com/5c1bb997cb1dd637bfe6c899/5c354ee0d236e334f4050e01_w-lightbox-left.svg);
}

.w-lightbox-close {
    background-image: url(https://cdn.prod.website-files.com/5c1bb997cb1dd637bfe6c899/5c354ee0d236e39afd050e00_w-lightbox-close.svg);
    background-size: 24px;
}

.w-lightbox-caption {
    display: none;
}

.w-lightbox-group .w-lightbox-image {
    max-width: 100vw;
}

.w-lightbox-thumbnail {
    height: 7vh;
    min-height: 40px;
}

.w-lightbox-item {
    padding: 1vh 2px 2vh 2px;
}

#post_list {
    display: none;
}
